{% extends 'Index.html' %}

{% block body %} 

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Marcellus&family=Marcellus+SC&display=swap');

        .marcellus-sc-regular {
            font-family: "Marcellus SC", serif;
            font-weight: 400;
            font-style: normal;
        }

        .inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings:
                "slnt" 0;
        }
    </style>
    <main>
        <div style="display: flex;">
            <div>
                <img style="width: 200px; display: block; padding-left: 50px; padding-top: 25px;" src="static/img/CabeloCorte.png" alt="Corte de cabelo">
                <img style="width: 200px; display: block; padding-left: 50px; padding-top: 40px;" src="static/img/CabeloCorte.png" alt="Corte de cabelo">
            </div>
            <div>
                <img style="width: 500px; padding-left:95px; padding-right: 95px; padding-top: 25px;" src="static/img/Cabelo3.png" alt="Corte de cabelo">
            </div>
            <div style="padding-top: 25px;">
                <h1 class="marcellus-sc-regular" style="color: #7E4F3B; font-size: 30px;">Banco de dados</h1>
                <p class="marcellus-sc-regular" style="color: #7E4F3B; font-size: 20px;">$0000</p>
                <div style="border-top: 2px solid #7E4F3B; width: 400px;"></div>
                <div style="display: flex; align-items: center;">
                    <img style="width: 200px; padding-top: 15px; padding-bottom: 15px;" src="static/img/Calendario.png" alt="Calendário">
                    <button class="btn btn-outline" style="
                    align-items: center;
                    border-color: #D9CDCD;
                    font-size: 10px;
                    background-color: transparent;
                    color: #7E4F3B;
                    border-radius: 40px;
                    padding: 10px;
                    width: 120px;
                    height: 35px;
                    margin-left: 35px;
                    "
                    type="button">Agendar</button>
                </div>
                <div style="border-top: 2px solid #7E4F3B; width: 400px; opacity: 0.5;"></div>
                <h3 class="inter" style="color: #7B7676; font-size: 12px ; padding-top: 5px;">Descrição</h3>
                <p class="inter" style="color: #7B7676; font-size: 9px; text-align: justify; overflow-wrap: break-word; width: 400px;">No nosso salão de beleza, oferecemos uma experiência excepcional em cortes de cabelo, onde cada cliente é tratado com cuidado e atenção personalizada. Nossa equipe de hairstylists talentosos está comprometida em transformar seus desejos de estilo em realidade, proporcionando cortes que realcem sua beleza única e reflitam sua personalidade.</p>
                <h3 class="inter" style="color: #7B7676; font-size: 10px ;">Cabeleireiro</h3>
                <p class="inter" style="color: #7B7676; font-size: 9px; text-align: justify; overflow-wrap: break-word; width: 400px;">Alexandre Gonçalves</p>
            </div>
        </div>
    </main>
</body>

{% endblock %}