{% extends 'index.html' %}

{% block body %}

<body style="width: 100%; height: 100%; background-color: #F5F5F5; ">
    <main style="margin: 3rem; margin-left: 6rem;">
        <div>
            <h1 style=" font-size: 35px; font-family: Marcellus Sc; color: #7E4F3B; ">PROCEDIMENTOS ESTÉTICOS<h1>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 50px;">
        <div style="display: flex; flex-direction: column;">
            <img src="/static/img/EsteticaAlonga.jpg" style="width: 250px; height: 172.87px; margin-bottom: 5px;"/>
            <p style="font-size: 13px; font-family: inter; color: #7B7676; line-height: 0.5;">R$ 000,00</p>
            <p style="font-size: 16px; font-family: inter; color: #7E4F3B; line-height: 0.5">Banco de dados</p>
            <a href="" style="font-size: 14px; font-family: inter; color: #7B7676; line-height: 1">Mais detalhes</a>
        </div>

        <div style="display: flex; flex-direction: column;">
            <img src="/static/img/EsteticaBrow.png" style="width: 250px; height: 172.87px; margin-bottom: 5px;"/>
            <p style="font-size: 13px; font-family: inter; color: #7B7676; line-height: 0.5;">R$ 000,00</p>
            <p style="font-size: 16px; font-family: inter; color: #7E4F3B; line-height: 0.5">Banco de dados</p>
            <a href="" style="font-size: 14px; font-family: inter; color: #7B7676; line-height: 1">Mais detalhes</a>
        </div>

        <div style="display: flex; flex-direction: column;">
            <img src="/static/img/EsteticaLabial.png" style="width: 250px; height: 172.87px; margin-bottom: 5px;"/>
            <p style="font-size: 13px; font-family: inter; color: #7B7676; line-height: 0.5;">R$ 000,00</p>
            <p style="font-size: 16px; font-family: inter; color: #7E4F3B; line-height: 0.5">Banco de dados</p>
            <a href="" style="font-size: 14px; font-family: inter; color: #7B7676; line-height: 1">Mais detalhes</a>
        </div>

        <div style="display: flex; flex-direction: column;">
            <img src="/static/img/EsteticaLift.png" style="width: 250px; height: 172.87px; margin-bottom: 5px;"/>
            <p style="font-size: 13px; font-family: inter; color: #7B7676; line-height: 0.5;">R$ 000,00</p>
            <p style="font-size: 16px; font-family: inter; color: #7E4F3B; line-height: 0.5">Banco de dados</p>
            <a href="" style="font-size: 14px; font-family: inter; color: #7B7676; line-height: 1">Mais detalhes</a>
        </div>
    </div>
    </main>
</body>

</html>
{% endblock %}